
.tarjeta{

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width:80%;
  margin: auto;
  margin-top: 6%;



}

.columna0 {

  margin-top: 9px;


}

.columna1 {

  margin-top: 9px;
}

@media only screen and (max-width: 768px) {

  .tarjeta {
    margin-top: 70px;
  }
}
