
<div class="container-fluid">
  <mat-card class="tarjeta">
   <div class="row">
    <div class="col-md-6">
     <p class="fw-bold fs-6">Sobre mí</p>

     Me considero una persona responsable y organizada, proactiva y predispuesto a la hora de trabajar en equipo, dispuesto a la resolución de problemas, autenticidad, respeto y tolerancia. Desde temprana edad tengo un interés en las computadoras, por eso estoy interesado en aprender cada día más sobre la programación.




    </div>
    <div class="col-md-6 columna1">

      <p class="fw-bold fs-6">Información básica <span class="fw-normal"></span></p>
      <p class="fw-bold">Fecha de Nacimiento:  <span class="fw-normal">15/12/1998</span></p>
      <p class="fw-bold">Email: <span class="fw-normal">lautarobarrera150@gmail.com</span></p>
      <p class="fw-bold">Teléfono: <span class="fw-normal">(221) 3563950</span></p>
      <p class="fw-bold">Dirección: <span class="fw-normal">152 norte e/12 y 13 1046</span></p>





    </div>
   </div>
  </mat-card>
