
<div class="container-fluid">
  <mat-card class="tarjeta">
   <div class="row">
    <div class="col-md-6">
     <p class="fw-bold fs-6 columna0">Sobre mí</p>

     Me considero una persona responsable, organizada, proactiva y predispuesta a la hora de trabajar en equipo. Además, me encuentro decidido a la resolución de problemas, autenticidad, respeto y tolerancia.
     Desde temprana edad conservo un interés por las computadoras, por eso me siento motivado en aprender cada día más sobre la programación. Incluso tengo conocimiento sobre metodologías, tanto ágil como en cascada.




    </div>
    <div class="col-md-6 columna1">

      <p class="fw-bold fs-6">Información básica <span class="fw-normal"></span></p>
      <p class="fw-bold">Fecha de Nacimiento:  <span class="fw-normal">15/12/1998</span></p>
      <p class="fw-bold">Email: <span class="fw-normal">lautarobarrera150@gmail.com</span></p>
      <p class="fw-bold">Teléfono: <span class="fw-normal">(221) 3563950</span></p>






    </div>
   </div>
  </mat-card>
