.cardContacto {

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 50%;
  margin: auto;
margin-bottom: 5%;
  height: 5%;




}


.boton {

  background-color: #14445c;

}




.contenido {

  margin-top: 4%;

}

.fondo2 {
 margin-top: 8%;

  height: 400px;
}

.texto5 {
margin-bottom: 2%;
  color: white;

}

::ng-deep .mat-focused .mat-form-field-label {

  color: #14445c!important;
 }

 ::ng-deep.mat-form-field-underline {

  background-color: #14445c !important;
}

::ng-deep.mat-form-field-ripple {

  background-color: #14445c !important;
 }


@media only screen and (max-width: 768px) {

  .texto5 {

    margin-top: 12%;
  }
  .cardContacto {


    margin-top: 3%;
  }
.fondo2 {

  margin-top: 85px;
}

}

.Fotofondo {

  background-image: url('../../assets/The-Evolution-of-Twitter….jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.mensaje {

 height: 20vh;
 resize: none;

}

mat-form-field {

  width: 100%;
}
