<div
  class="Fotofondo"

>
  <div class="fondo2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center contenido">
          <p class="fw-bold h4 texto5">CONTACTO</p>
        </div>
      </div>
      <mat-card class="cardContacto">
        <div class="container-fluid text-center">
          <form
            [formGroup]="formularioDeContacto"
            (ngSubmit)="alEnviarMensaje()"
          >
            <div class="row">
              <div class="col-md-12 text-center">
                <div
                  *ngIf="formularioDeContacto.controls.nombre.errors"
                  class="text-danger"
                >
                  <div
                    *ngIf="formularioDeContacto.controls.nombre.errors.required"
                  >
                    Ingrese su nombre
                  </div>
                </div>
                <mat-form-field appearance="fill">
                  <mat-label>Nombre</mat-label>
                  <input matInput type="text" formControlName="nombre" />
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <div
                  *ngIf="formularioDeContacto.controls.email.errors"
                  class="text-danger"
                >
                  <div
                    *ngIf="
                      !formularioDeContacto.controls.email.errors.email &&
                      formularioDeContacto.controls.email.errors.required
                    "
                  >
                    Ingrese un email válido
                  </div>
                </div>
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput type="text" formControlName="email" />
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-center">
                <div
                  *ngIf="formularioDeContacto.controls.mensaje.errors"
                  class="text-danger"
                >
                  <div
                    *ngIf="
                      formularioDeContacto.controls.mensaje.errors.required
                    "
                  >
                    Escriba su mensaje
                  </div>
                </div>
                <mat-form-field appearance="fill">
                  <mat-label>Mensaje</mat-label>
                  <textarea class="mensaje"
                    matInput
                    type="text"
                    formControlName="mensaje"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12 text-center">
                <button
                  mat-raised-button
                  class="boton"
                  type="submit"
                  color="primary"
                >
                  Enviar Mensaje
                </button>
              </div>
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
