<div class="container-fluid">
  <div class="row">
   <div class="col-md-12 text-center">

     <p class="fw-bold fs-4 texto">EDUCACIÓN</p>

   </div>
  </div>


   <mat-card class="tarjeta2">
    <div class="row">
     <div class="col-md-3 columna2">
          <p class="h5 fs-6 fecha">2022</p>
         <p class="h4 fs-6 cens">Pensamiento Computacional</p><span class="fw-normal"></span>


       </div>

     <div class="col-md-9">

       <p class="fw-bold text-center centro">Centro de Formación Laboral N°404</p>

     </div>
   </div>
   </mat-card>

   <mat-card class="tarjeta2">
     <div class="row">
      <div class="col-md-3 columna2">
           <p class="h5 fs-6 fecha">2022</p>
          <p class="h4 fs-6 cens2">Programación Web</p><span class="fw-normal"></span>


        </div>

      <div class="col-md-9">

        <p class="fw-bold text-center centro">Centro de Formación Laboral N°404</p>

      </div>
    </div>
    </mat-card>
  </div>
 






