.texto {

  margin-top: 120px;
  margin-bottom: 2%;
}

.cardContacto button {

  background-color: #3b5998;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.tarjeta2 {

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width:80%;
  margin: auto;
  margin-top: 10px;
  padding: 0;



}

.columna2 {

  background-color: #00334d;


}

.fecha {

  color: white;
  margin-left: 42%;
  margin-top: 5%;
}

.cens {

color: white;
margin-left: 10%;


}


.centro {

 margin-top: 4%;
}


.cens2 {

color: white;
margin-left: 23%;

}


