
.fotoYo {

  width: 184px;
  margin-top: 70px;

}

.nombrePrimero {

  margin-top:20px;
  color: white;

}

.nombreSegundo {

 color: white;


}

.fondo {

  background-image: url('../../../src/assets/Visual\ Studio\ Code\ HD\ Wallpaper\ Background\ Image\ 1920x1080.png');
 height: 47%;


}

.botones a {

  background-color: #14445c;
  margin: 5px;
  right: 6px;
  top: 28px;



}



.texto {

  margin-top: 10px;
}

@media only screen and (max-width: 768px) {

  .botones a {

    top: 35px;
    right: 5px;

  }

  .fotoYo {
margin-top: 100px;
  }
}

.CV {

padding: 0;
margin: 0;

}

.CV:hover {

font-size: large;

}
