
.fotoYo {

  width: 184px;
  margin-top: 70px;

}

.nombrePrimero {

  margin-top:20px;
  color: white;

}

.nombreSegundo {

 color: white;


}

.fondo {

 background-image: url("https://cdn.wallpapersafari.com/58/40/vXMZOo.png");
 height: 47%;


}

.botones a {

  background-color: #3b5998;
  margin: 3px;
  right: 5px;



}



