
.fotoYo {

  width: 184px;
  margin-top: 70px;

}

.nombrePrimero {

  margin-top:20px;
  color: white;

}

.nombreSegundo {

 color: white;


}

.fondo {

 background-image: url("https://pbs.twimg.com/media/DN-Oa3-WkAAxzG7?format=jpg&name=large");
 height: 47%;

}

.botones a {

  background-color: #3b5998;
  margin: 1px;



}



