<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="fw-bold h4 texto2">HABILIDADES</p>

    </div>
  </div>
</div>

<div class="contenido">
<div class="row">
<div class="col-md-4">


<img src="../../assets/html-5--v1.png" class="rounded mx-auto d-block" class="iconos" alt="">

  </div>

  <div class="col-md-4">

<img src="../../assets/css3.png" class="rounded mx-auto d-block" class="iconos" alt="">

</div>

<div class="col-md-4">

<img src="../../assets/TS.png" class="rounded mx-auto d-block" class="ts" alt="">

</div>
</div>
</div>


<div class="contenido">
  <div class="row">
  <div class="col-md-4">


  <img src="../../assets/Angular.png" class="rounded mx-auto d-block" class="iconos" alt="">

    </div>

    <div class="col-md-4">

  <img src="../../assets/Bootstrap.png" class="rounded mx-auto d-block" class="iconos" alt="">

  </div>






  </div>



