.texto2 {
  margin-top: 120px;
  margin-bottom: 2%;
}

.iconos {
  width: 84px;
  height: 84px;
  margin: auto;
}

.contenido {
  padding-left: 41%;
  padding-right: 41%;
}

.ts {
  width: 65px;
  height: 65px;
  margin: auto;
  margin-top: 8px;
}
