<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="fw-bold h4 texto2">HABILIDADES</p>

     <div class="container-fluid">
      <mat-card class="tarjeta3">
              <div class="row">
                <div class="col-md-6">
                  <div class="contenido">
                    <span class="habilidades fw-bold">TypeScript
                      <span class="barraprogreso">40%</span>
                    </span>
                      <div class="progreso">

                        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>


                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="contenido">
                    <span class="habilidades fw-bold">Angular
                      <span class="barraprogreso">40%</span>
                    </span>
                      <div class="progreso">

                        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>


                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="contenido">
                      <span class="habilidades fw-bold">BootStrap
                        <span class="barraprogreso">30%</span>
                      </span>
                      <div class="progreso">
                        <mat-progress-bar mode="determinate" value="35"></mat-progress-bar>


                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="contenido">
                    <span class="habilidades fw-bold">PHP
                      <span class="barraprogreso">10%</span>
                    </span>
                    <div class="progreso">

                      <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>


                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="contenido">
                    <span class="habilidades fw-bold">HTML,CSS
                      <span class="barraprogreso">40%</span>
                    </span>
                    <div class="progreso">

                      <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>


                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="contenido">
                    <span class="habilidades fw-bold">SQL
                      <span class="barraprogreso">20%</span>
                    </span>
                    <div class="progreso">

                      <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>



                    </div>
                    </div>
                  </div>
                </div>



          </mat-card>
      </div>






