<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="fw-bold h4 texto2">HABILIDADES</p>
    </div>
  </div>
</div>

<div class="row-cols-2"></div>

<div class="row text-center">
  <div class="col-6 col-md-4 col-xl-3">
    <img
      src="../../assets/icono_html.png"
      alt="Icono HTML"
      title="Icono HTML"
    />
  </div>
  <div class="col-6 col-md-4 col-xl-3">
    <img src="assets/icono_css.png" alt="Icono " />
  </div>
  <div class="col-6 col-md-4 col-xl-3">
    <img src="assets/icono_js.png" id="js" alt="Icono Javascript" />
  </div>
  <div class="col-6 col-md-4 col-xl-3">
    <img src="assets/icons8-typescript-144.png" id="ts" alt="Icono " />
  </div>
  <div class="col-6 col-md-4 col-xl-3">
    <img src="assets/icono_angular.png" alt="Icono " />
  </div>
  <div class="col-6 col-md-4 col-xl-3">
    <img src="assets/icono_bootstrap.png" alt="Icono " />
  </div>
</div>
